# this file runs ~/ColorVase/webapp/color_api.py as a service at boot time
#
# to get it started:
# 1. permissions must be 644  for the .service file (this one)
# 2. sudo systemctl daemon-reload
# 3. sudo systemctl enable /home/pi/ColorVase/webapp/color_vase.service
#
# Usage:
# sudo systemctl start | status | stop | restart color_vase
# OR
# sudo service color_vase start | status | stop | restart

[Unit]
Description=ColorVase Api Service
After=local-fs.target basic.target

[Service]
Type=idle
User=root
ExecStart=/usr/bin/nohup /usr/bin/python3 /home/pi/ColorVase/webapp/color_api.py 2>&1 &

[Install]
WantedBy=basic.target
